/04-VUE-CLI-Router-Components/props-demo/node_modules
/04-VUE-CLI-Router-Components/vue-test-mike/node_modules

.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
