* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #233245;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "微軟正黑體";
}

.btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: 180px;
  margin: 10px auto 0 auto;
  padding: 5px 0;
  color: white;
  background-color: skyblue;
  font-size: 12px;
}
