<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>registered</title>
    <link rel="stylesheet" href="./css/main.css" />
    <link rel="stylesheet" href="./css/04-registered.css" />
  </head>
  <body>
    <div id="app">
      <div v-if="!isReg">
        <div class="input-box">
          <p>NAME</p>
          <input
            type="text"
            placeholder="輸入使用者名稱"
            v-model="registered.username"
          />
          <p v-if="error_message.username" class="error">
            {{error_message.username}}
          </p>
        </div>
        <div class="input-box">
          <p>PASSWORD</p>
          <input
            type="password"
            placeholder="輸入密碼"
            v-model="registered.password"
          />
          <p v-if="error_message.password" class="error">
            {{error_message.password}}
          </p>
        </div>
        <div class="input-box">
          <p>E-MAIL</p>
          <input
            type="text"
            placeholder="輸入email"
            v-model="registered.email"
          />
          <p v-if="error_message.email" class="error">
            {{error_message.email}}
          </p>
        </div>
        <div class="input-box">
          <p>年齡</p>
          <input
            type="number"
            placeholder="輸入年齡"
            v-model="registered.age"
          />
        </div>
        <div class="input-box">
          <input type="radio" id="boy" value="boy" v-model="registered.sex" />
          <label for="boy">boy</label>
          <input type="radio" id="girl" value="girl" v-model="registered.sex" />
          <label for="girl">girl</label>
        </div>
        <div class="input-box">
          <input type="checkbox" id="checkbox" v-model="registered.terms" />
          <label for="checkbox">我已閱讀使用者條款</label>
        </div>
        <a class="btn" @click="handRegisteredFn">送出</a>
      </div>
      <div v-if="isReg">
        <h1>註冊成功</h1>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script src="./js/vue.js"></script>
    <!-- 
      {
        username: 'mike',
        password: '123456789',
        sex: 'boy',
        email: 'qwer@gmail.com',
        age: '12'
        terms: false,
      }
     -->
    <script>
      const { reactive, ref } = Vue;
      const app = {
        setup() {
          const isReg = ref(false);
          const registered = reactive({
            username: "",
            password: "",
            sex: "",
            email: "",
            age: "",
            terms: false,
          });
          const error_message = reactive({});

          const successFn = () => {
            alert("註冊成功");
            isReg.value = true;
          };

          const errorFn = (err) => {
            Object.keys(err).forEach((key) => (error_message[key] = err[key]));
          };

          const handRegisteredFn = () => {
            axios
              .post("/auth/registered", registered)
              .then((res) => {
                successFn();
              })
              .catch((err) => {
                errorFn(err.response.data.error_message);
              });
          };

          return { isReg, registered, handRegisteredFn, error_message };
        },
      };

      Vue.createApp(app).mount("#app");
    </script>
  </body>
</html>
