* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #233245;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "微軟正黑體";
}

#app {
  width: 1050px;
  overflow: hidden;
}
#app > div {
  background-size: 100% 100%;
}
#app > div > ul > li {
  cursor: pointer;
  display: block;
  width: 166px;
  height: 166px;
  border: 1px solid #fff;
  float: left;
}
#app > div > ul > li > img {
  display: block;
  width: 100%;
  height: 100%;
}
.wait {
  width: 500px;
  height: 500px;
  background-color: #fff;
  float: left;
}
.carried {
  width: 500px;
  height: 500px;
  background-color: #fff;
  float: right;
  background-image: url("../images/Puzzle/bg2.jpg");
}
.winPage {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: top 0.3s;
}
.winPage.open {
  top: 0;
}

.winPage > h1 {
  color: #fff;
  font-size: 60px;
}
